:root {
  --page-transition: 1s var(--besier-transition);
}

html.is-changing {
  .content,
  .pagecontent,
  .fixedmenucontent,
  .fixedmenudots,
  .desktopmenucontent,
  .burgermenuwrapper {
    transition: transform var(--page-transition);
    transform: translateY(var(--translate, 0));
  }
}

html.is-animating {
  &.is-leaving {
    --translate: calc(1 * 10vh * var(--overlay-direction, 1));
  }

  &.is-rendering {
    --translate: calc(-1 * 10vh * var(--overlay-direction, 1));
  }
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: grid;
  place-items: center;
  background-color: var(--page-color, #bb4b36);
  opacity: 0;
  transform: translate3d(0, calc(-1 * 100% * var(--overlay-direction, 1)), 0);

  p {
    opacity: 0;
    color: var(--white);
    font-family: 'Worksans Variablefont Wght', sans-serif;
    font-size: 0.93vw;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 991px) {
      font-size: 1.9;
    }
    @media screen and (max-width: 767px) {
      font-size: 2vw;
    }
    @media screen and (max-width: 478px) {
      font-size: 3.6vw;
      font-weight: 500;
    }
  }
}

.popup-opened {
  .transition-overlay {
    background-color: var(--white, #bb4b36);

    p {
      color: var(--color);
    }
  }
}

html.is-changing .transition-overlay {
  transition: transform var(--page-transition), background-color 0.5s;
  opacity: 1;

  p {
    transition: opacity 0.2s linear 1.2s;
  }
}

html.is-animating .transition-overlay {
  transform: translate3d(0, 0, 0);

  p {
    opacity: 1;
  }
}

html.is-rendering .transition-overlay {
  transform: translate3d(0, calc(var(--overlay-direction, 1) * 100%), 0);
}
