.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--page-color, #bb4b36);
  opacity: 0;
  transform: translate3d(0, calc(-1 * 100% * var(--overlay-direction, 1)), 0);
  pointer-events: none;
}

html.is-changing .transition-overlay {
  transition: transform .8s ease-in-out, background-color 0.5s;
  opacity: 1;
}

html.is-animating .transition-overlay {
  transform: translate3d(0, 0, 0);
}

html.is-rendering .transition-overlay {
  transform: translate3d(0, calc(var(--overlay-direction, 1) * 100%), 0);
}
