.cursor-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
    mix-blend-mode: difference;

    @media not (hover: hover) {
        display: none;
    }
}