@media screen and (max-width: 478px) {
    [data-popup-close] svg {
        transform: scale(1.4);
    }
}

.common-popup {
    &:not(.hidden) {
        transition: opacity var(--transition-time);
    }

    &.transparent {
        opacity: 0;
    }

    &.hidden {
        display: none;
    }
}