img {
    opacity: 0;

    &.transition {
        transition: opacity var(--transition-time);
    }

    &.visible {
        opacity: 1;
    }
}

.portfoliophotowrapper {
    background-color: var(--color20, transparent);
}