html {
    overflow: auto;
}
.popup-opened {
    overflow: hidden;
    padding-right: var(--scroll-bar-width, 0);
}

.preloader {
    --white: #FBF5E7;
    --transition: 1.5s cubic-bezier(.7,0,.45,1);
    position: fixed;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--page-color, #bb4b36);
    font-family: 'Worksans Variablefont Wght', 'Work sans', sans-serif;
    letter-spacing: -0.015em;
    z-index: 9999;

    transition: width var(--transition), opacity 0.4s;

    @media screen and (max-width: 991px) {
        transition: height var(--transition), opacity 0.4s;
    }
    &:not(.main-page) {
        transition: height var(--transition);
    }

    @media (prefers-reduced-motion: reduce) {
        transition: opacity var(--transition) !important;
    }

    &__container {
        width: calc(100% - 2em);
        height: calc(100% - 5em);
        margin: 0 auto;
        position: relative;
        border-bottom: 1px dashed var(--white) !important;
    }

    &__dots {
        position: absolute;
        top: 50%;
        width: 100%;

        transition: opacity var(--transition);

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0.5em;
            height: 0.5em;
            background-color: var(--white);
            top: 0;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: max-content;
        font-size: 1em;
        line-height: 1.1em;
        text-indent: 50%;
        text-transform: uppercase;
        color: var(--white) !important;

        transition: opacity var(--transition);
    }

    &__indicator {
        --text-value: '0';
        --value: 0;
        display: none;
        position: absolute;
        bottom: 0.15em;
        font-size: 8em;
        line-height: 1em;
        font-weight: 500;
        letter-spacing: -0.035em;
        color: var(--white) !important;

        @media screen and (max-width: 991px) {
            font-size: 6em;
        }
        @media screen and (max-width: 500px) {
            font-size: 4.5em;
        }

        left: calc(var(--value) * 1%);
        transform: translateX(calc(var(--value) * -1%));

        transition: left 0.1s linear, transform 0.1s linear, opacity var(--transition);

        &.shown {
            display: block;
        }
    }

    &.hidden {
        &.main-page {
            @media screen and (min-width: 992px) {
                width: 33vw;
            }
    
            @media screen and (max-width: 991px) {
                height: 0;
            }
        }

        &:not(.main-page) {
            height: 0;

            .preloader__dots {
                opacity: 0;
            }
        }
        
        @media (prefers-reduced-motion: reduce) {
            width: 100vw;
            height: 100vh;
            opacity: 0;
        }

        .preloader__text,
        .preloader__indicator {
            opacity: 0;
        }
    }

    &.transparent {
        opacity: 0;
    }
}