body * {
    user-select: none;
}

html {
    overflow: auto;
}
.popup-opened {
    overflow: hidden;
    padding-right: var(--scroll-bar-width, 0);
}

$pages: home, ai-concepts, dar-studio-render, about, educational, shop, contact;

:root {
    --active-link-opacity: 1;
}

.burgermenu {
    --active-link-opacity: 0.6;
}

@each $page in $pages {
    [active-link="#{$page}"] {
        [data-link="#{$page}"] {
            opacity: var(--active-link-opacity, 1);
            pointer-events: none;
        }
    }
}

[data-style="first-letters"] {
    span:not([data-style="not-first-letter"]) {
        display: inline-block;
        white-space: break-spaces;

        &::first-letter {
            font-family: 'Arizonia', serif;
            font-size: 1.125em;
            margin-right: 0.025em;
        }
    }
}