.pageheading {
    span {
        display: inline-block;
        white-space: pre;

        &::first-letter {
            font-family: 'Arizonia', serif;
            font-size: 1.125em;
            margin-right: 0.025em;
        }
    }
}

.popup-opened .navigation {
    width: calc(100vw - var(--scroll-bar-width));
}