.pagecontent {
    * {
        color: var(--page-color);
        border-color: var(--page-color);
    }

    .footerlink {
        color: var(--yellow);
    }

    .navbackunderline {
        background-color: var(--page-color);
    }

    .menubutton {
        background-color: var(--page-color);
        color: var(--yellow);
    }
}

.burgermenu {
    background-color: var(--page-color);
}