*, a {
    color: var(--page-color);
    border-color: var(--page-color) !important;
}

.footerlink,
.menubutton p,
.burgersendmessagebtn * {
    color: var(--yellow);
}

.burgersendmessagebtn {
    border-color: var(--yellow) !important;
}

.navbackunderline,
.burgermenu,
.menubutton {
    background-color: var(--page-color);
}

.pageheading {
    span {
        display: inline-block;
        white-space: break-spaces;

        &::first-letter {
            font-family: 'Arizonia', serif;
        }
    }
}