.fixedmenu {
    .menulinks {
        --step: 0;
        --num-steps: 6;
        transition: transform var(--transition-time) ease-in-out;
        transform: translateY(calc(-100% * var(--step) / var(--num-steps)));

        .textlink {
            transition: opacity var(--transition-time);
        }
    }
}

.mobilemenu {
    transition: height 1s var(--besier-transition);

    .mobilemenutitle {
        transition: color var(--transition-time), transform 1s var(--besier-transition), opacity 1s;

        img {
            transform-origin: center bottom;
            transition: transform 1s var(--besier-transition);
        }
    }

    .mobilemenulanguages {
        opacity: 1;
        transition: opacity var(--transition-time);
    }

    &.shrink {
        height: 25vw;

        @media screen and (max-width: 767px) {
            height: 20vw;
        }

        .mobilemenutitle {
            transform: translateY(-15%);

            @media screen and (max-width: 767px) {
                opacity: 0.5;
                transform: translateY(-80%);
            }
        }

        img {
            transform: translate(-50%) scale(0);
        }

        @media screen and (max-width: 767px) {
            .mobilemenulanguages {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    .tabletmenulinks {
        .textlink {
            position: relative;
    
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(250%, -50%);
                height: 0.6em;
                aspect-ratio: 1;
                background-color: currentColor;
                transition: opacity var(--transition-time);
            }
    
            &.inactive::after {
                opacity: 0;
            }
        }

        li:last-child {
            .textlink::after {
                left: 0;
                transform: translate(-250%, -50%);
            }
        }
    }
}

.fixedmenucontent::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: repeating-linear-gradient(to bottom, var(--menu-border-color), var(--menu-border-color) 1px, transparent 1px, transparent 6px);
}