.portfolioimage {
    cursor: pointer;
}

.imagepopup {
    opacity: 0;
    transition: opacity var(--transition-time);

    &.shown {
        display: flex;
    }

    &.visible {
        opacity: 1;
    }

    .imagepopupcontent {
        height: calc(100% - 4.5em);
    }

    .imagepopupbutton {
        cursor: pointer;
        transition: opacity var(--transition-time);

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 75%;
            width: 0%;
            height: 0.15em;
            background-color: var(--page-color);
            transition: width var(--transition-time) var(--besier-transition);
        }

        &.prev::after {
            right: 0;
        }

        &.next::after {
            left: 0;
        }

        &:hover {
            opacity: 1;

            &::after {
                width: 100%;
            }
        }
    }

    .imagepopupclosebutton {
        cursor: pointer;
    }
}