[data-animation="appear-from-below"] {
    transform: translateY(100%);
    
    @media (prefers-reduced-motion: reduce) {
        transform: translateY(0);
    }

    &.transition {
        transition: transform 0.8s ease var(--delay, 0s), border-color var(--transition-time); // border-color is a fix for the changing colors
    }

    &.shown {
        transform: translateY(0);
    }
}