:root {
    --yellow: #FBF5E7;
    --red: #B64B37;
    --gray: #353636;
    --green: #135B41;
    --black: #424646;
    --yellow20: #FBF5E736;
    --red20: #B64B3736;
    --gray20: #35363636;
    --green20: #135B4136;
    --black20: #42464636;
}

body {
    --transition-time: .6s;
    --bg: var(--red);
    --color: var(--red);
    --color20: var(--red20);
    --menu-color: var(--yellow);
    --menu-border-color: var(--red);

    &.section-ai,
    &.section-3d,
    &.section-about,
    &.section-contacts {
        --bg: var(--yellow);
        --menu-border-color: var(--color);
        --menu-color: var(--color);
    }
    &.section-ai {
        --color: var(--red);
        --color20: var(--red20);
    }
    &.section-3d {
        --color: var(--green);
        --color20: var(--green20);
    }
    &.section-about {
        --color: var(--black);
        --color20: var(--black20);
    }
    &.section-contacts {
        --color: var(--red);
        --color20: var(--red20);
    }

    *:not(.abouttagred) {
        transition: color var(--transition-time), border-color var(--transition-time);
        color: var(--color) !important;
        border-color: var(--color) !important;
    }
    path {
        transition: fill var(--transition-time);
        fill: var(--color);
    }
    .keyboardletter {
        border-color: var(--color20);
    }
}

.fixedmenu {
    .fixedmenucontent {
        transition: background-color var(--transition-time);
        background-color: var(--bg);
    }

    * {
        transition: color var(--transition-time);
        color: var(--menu-color);
    }
    .borderedtext {
        transition: border-color var(--transition-time);
        border-color: var(--menu-color);
    }
    .fixedmenudots {
        z-index: 1;
        pointer-events: none;

        .fixedmenudot {
            transition: background-color var(--transition-time);
            background-color: var(--menu-color);
        }
    }
    .entericon path {
        transition: fill var(--transition-time);
        fill: var(--menu-color);
    }

    .menulinks {
        --step: 0;
        transition: transform var(--transition-time) ease-in-out;
        transform: translateY(calc(-20% * var(--step)));

        .textlink {
            transition: opacity var(--transition-time);
        }
    }
}

.fixedmenucontent::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: repeating-linear-gradient(to bottom, var(--menu-border-color), var(--menu-border-color) 1px, transparent 1px, transparent 6px);
}