.wrapper {
    --bg: var(--red);
    --color: var(--red);
    --color20: var(--red20);
    --color50: var(--red50);
    --menu-border-color: var(--red);

    @media screen and (min-width: 992px) {
        --menu-color: var(--white);
    }
    @media screen and (max-width: 991px) {
        --menu-color: var(--red);
    }

    &[class*="section-"] {
        --bg: var(--white);
        --menu-border-color: var(--color);
        --menu-color: var(--color);
    }

    &.section-ai {
        --color: var(--red);
        --color20: var(--red20);
        --color50: var(--red50);
    }
    &.section-3d {
        --color: var(--green);
        --color20: var(--green20);
        --color50: var(--green50);
    }
    &.section-about {
        --color: var(--black);
        --color20: var(--black20);
        --color50: var(--black50);
    }
    &.section-educational {
        --color: var(--blue);
        --color20: var(--blue20);
        --color50: var(--blue50);
    }
    &.section-shop {
        // TEMPORARY - while the shop is "coming soon"
        // --color: var(--black);
        // --color20: var(--black20);
        --color: var(--blue);
        --color20: var(--blue20);
        --color50: var(--blue50);
    }
    &.section-contact {
        --color: var(--red);
        --color20: var(--red20);
        --color50: var(--red50);
    }
    &[data-page="ai"],
    &[data-page="contact"] {
        --color: var(--red);
        --color20: var(--red20);
        --color50: var(--red50);
    }
    &[data-page="3d"] {
        --color: var(--green);
        --color20: var(--green20);
        --color50: var(--green50);
    }
    &[data-page="about"] {
        --color: var(--black);
        --color20: var(--black20);
        --color50: var(--black50);
    }

    .burgermenu {
        background-color: var(--color) !important;
    
        .burgermenubutton {
            color: var(--color);
            border-color: var(--color);
        }
    }

    &[data-page="main"] {
        .content {
            *:not(.abouttag) {
                color: var(--color);
                border-color: var(--color) !important;
            }
            path {
                fill: var(--color);
            }
            .keyboardletter {
                border-color: var(--color20) !important;
        
                &.glitch {
                    background-color: var(--color20) !important;
                }
            }
            .menubutton {
                background-color: var(--color);
                transition: background-color var(--transition-time);
                
                p {
                    color: var(--white) !important;
                }
            }
            // TODO: remove with the "coming soon"
            .comingsoonform {
                input[type="email"] {
                    border-color: var(--color50) !important;
        
                    &::placeholder {
                        color: var(--color50);
                    }
                }
                .comingsoonformbutton {
                    transition: background-color var(--transition-time);
                    background-color: var(--color);
                }
            }
            .cominsoonprogress  {
                background-color: var(--color);
            }
        }

        .burgermenubutton {
            p {
                color: var(--color) !important;
            }
        }
        
        .fixedmenu {
            .fixedmenucontent {
                background-color: transparent !important;
        
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--red);
                    transform: translateX(0);
                    transition: transform .8s ease;
                }
            }
        }
    
        &[class*="section-"] {
            .fixedmenucontent::before {
                transform: translateX(-100%);
            }
        }
        
        .mobilemenu {
            .mobilemenubutton {
                transition: background-color var(--transition-time);
                background-color: var(--color);
                border-color: transparent !important;
        
                p {
                    color: var(--white);
                }
            }
            .mobilemenuborder {
                transition: border-color var(--transition-time);
                border-color: var(--menu-color);
            }
        }
        
        .fixedmenu,
        .mobilemenu {
            a, p, h1 {
                transition: color var(--transition-time);
                color: var(--menu-color);
            }
            .sendmessagebtn {
                transition: border-color var(--transition-time);
                border-color: var(--menu-color);
            }
            .fixedmenudots {
                z-index: 1;
                pointer-events: none;
        
                .fixedmenudot {
                    transition: background-color var(--transition-time);
                    background-color: var(--menu-color);
                }
            }
            .entericon path {
                transition: fill var(--transition-time);
                fill: var(--menu-color);
            }
        }
        
        .mobilemenu {
            border-color: var(--menu-color);
        }
    }

    &[data-page="ai"],
    &[data-page="contact"],
    &[data-page="3d"],
    &[data-page="about"] {
        *, a {
            &:not([data-style*="preserve-color"]) {
                color: var(--color);
            }
            &:not([data-style*="preserve-border-color"]) {
                border-color: var(--color) !important;
            }
            [data-style*="preserve-color"] * {
                color: inherit;
            }
            &[data-style*="set-background-color"] {
                background-color: var(--color);
            }
        }
    }

}




