:root {
    --yellow: #FBF5E7;
    --red: #B64B37;
    --black: #353636;
}

* {
    font-variant-numeric: lining-nums tabular-nums;
}

.productslist::after,
.productslist::before {
    display: none !important;
}